*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.Screenshot_20250326_234123.png
.Screenshot_20250326_235600.png
.externalNativeBuild
.cxx
local.properties
